@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add a new student</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.EnrollmentDate)
  @Html.TextBoxFor(model => model.EnrollmentDate)

  <input type="submit" value="Add new student" />
}
<p>@Html.ActionLink("Show all students", "Index")</p>