@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@model UniversityRegistrar.Models.Department;

<h2>Department Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.Courses.Count == 0)
{
  <p>This department does not contain any courses.</p>
}
else
{
  <h4>Courses this department contains:</h4>
  <ul>
  @foreach (Course course in @Model.Courses)
    {
      <li>@course.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to departments", "Index")</p>
<p>@Html.ActionLink("Edit department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete department", "Delete", new { id = Model.DepartmentId })</p>
@* <p>@Html.ActionLink("Add a student", "Create", "Students")</p> *@